/* --------------- */
/* MIXINS & COLORS */
/* --------------- */
/* ------------- */
/* 	  BUTTONS    */
/* ------------- */
/* Global Styles */
.button, a.button {
  text-decoration: none;
  font-family: Arial, Verdana, Georgia;
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5em;
}
.button:hover, a.button:hover {
  cursor: pointer;
  text-decoration: none;
}
/* General Button Styles */
.button-transparent-border {
  padding: 14px 28px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.button-no-background {
  border: 3px solid;
  padding: 14px 28px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.button-pushbutton {
  font-size: 100%;
  padding: 14px 35px;
  padding-top: 16px;
  border-bottom: 3px solid;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.button-pushbutton:hover {
  border-bottom: 2px solid;
  margin-top: 1px;
}
.button-simple {
  padding: 14px 40px;
}
.button-simple-rounded {
  padding: 14px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.button-default {
  font-size: 100%;
  padding: 14px 28px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-large {
  padding: 14px 30px;
  padding-top: 16px;
  font-size: 130%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-mini {
  padding: 3px 10px;
  padding-top: 4px;
  font-size: 85%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-default-rounded {
  font-size: 100%;
  padding: 14px 28px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-large-rounded {
  padding: 14px 30px;
  padding-top: 16px;
  font-size: 130%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.button-mini-rounded {
  padding: 3px 10px;
  padding-top: 4px;
  font-size: 85%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -moz-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
}
/* Attach Button Colors & Predefined Styles */
/* Transparent Border Buttons */
.button-transparent-border.button-color-default {
  color: #505050;
  background: #f0f0f0;
  border: 6px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-default:hover {
  border: 6px solid rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-grey {
  color: #ffffff;
  background: #9e9e9e;
  border: 6px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-grey:hover {
  border: 6px solid rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-black {
  color: #e7e7e7;
  background: #5b5b5b;
  border: 6px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-black:hover {
  border: 6px solid rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-lightblue {
  color: #00394d;
  background: #a8e3f7;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-lightblue:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-blue {
  color: #f2ffff;
  background: #3498db;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-blue:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-green {
  color: #ffffe0;
  background: #7dbe4a;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-green:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-yellow {
  color: #471a00;
  background: #f1c40f;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-yellow:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-orange {
  color: #fffff4;
  background: #dc7418;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-orange:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-red {
  color: #ffffeb;
  background: #e7563c;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-red:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-pink {
  color: #fff1ff;
  background: #e96abb;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-pink:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-purple {
  color: #fff1ff;
  background: #b574d5;
  border: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.button-transparent-border.button-color-purple:hover {
  border: 6px solid rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
/* No Background Button */
.button-no-background.button-color-default {
  border-color: #f0f0f0;
  color: #f0f0f0;
}
.button-no-background.button-color-default:hover {
  border-color: #e1e1e1;
  color: #e1e1e1;
}
.button-no-background.button-color-grey {
  border-color: #9e9e9e;
  color: #9e9e9e;
}
.button-no-background.button-color-grey:hover {
  border-color: #7b7b7b;
  color: #7b7b7b;
}
.button-no-background.button-color-black {
  border-color: #5b5b5b;
  color: #5b5b5b;
}
.button-no-background.button-color-black:hover {
  border-color: #000000;
  color: #000000;
}
.button-no-background.button-color-lightblue {
  border-color: #a8e3f7;
  color: #a8e3f7;
}
.button-no-background.button-color-lightblue:hover {
  border-color: #8fcade;
  color: #8fcade;
}
.button-no-background.button-color-blue {
  border-color: #3498db;
  color: #3498db;
}
.button-no-background.button-color-blue:hover {
  border-color: #1175b8;
  color: #1175b8;
}
.button-no-background.button-color-green {
  border-color: #7dbe4a;
  color: #7dbe4a;
}
.button-no-background.button-color-green:hover {
  border-color: #5a9b27;
  color: #5a9b27;
}
.button-no-background.button-color-yellow {
  border-color: #f1c40f;
  color: #f1c40f;
}
.button-no-background.button-color-yellow:hover {
  border-color: #e7ba05;
  color: #e7ba05;
}
.button-no-background.button-color-orange {
  border-color: #e67e22;
  color: #e67e22;
}
.button-no-background.button-color-orange:hover {
  border-color: #cd6509;
  color: #cd6509;
}
.button-no-background.button-color-red {
  border-color: #f6654b;
  color: #f6654b;
}
.button-no-background.button-color-red:hover {
  border-color: #d34228;
  color: #d34228;
}
.button-no-background.button-color-pink {
  border-color: #f879ca;
  color: #f879ca;
}
.button-no-background.button-color-pink:hover {
  border-color: #d556a7;
  color: #d556a7;
}
.button-no-background.button-color-purple {
  border-color: #c483e4;
  color: #c483e4;
}
.button-no-background.button-color-purple:hover {
  border-color: #a160c1;
  color: #a160c1;
}
/* Push Buttons */
.button-pushbutton.button-color-default {
  color: #505050;
  background: #f0f0f0;
  border-color: #bebebe;
  text-shadow: 1px 1px 1px #ffffff;
}
.button-pushbutton.button-color-grey {
  color: #ffffff;
  background: #9e9e9e;
  border-color: #626262;
  text-shadow: 1px 1px 1px #585858;
}
.button-pushbutton.button-color-black {
  color: #e7e7e7;
  background: #5b5b5b;
  border-color: #1f1f1f;
  text-shadow: 1px 1px 1px #000000;
}
.button-pushbutton.button-color-lightblue {
  color: #00394d;
  background: #a8e3f7;
  border-color: #629db1;
  text-shadow: 1px 1px 1px #c6ffff;
}
.button-pushbutton.button-color-blue {
  color: #f2ffff;
  background: #3498db;
  border-color: #0061a4;
  text-shadow: 1px 1px 1px #0266a9;
}
.button-pushbutton.button-color-green {
  color: #ffffe0;
  background: #7dbe4a;
  border-color: #41820e;
  text-shadow: 1px 1px 1px #4b8c18;
}
.button-pushbutton.button-color-yellow {
  color: #471a00;
  background: #f1c40f;
  border-color: #bf9200;
  text-shadow: 1px 1px 1px #fff641;
}
.button-pushbutton.button-color-orange {
  color: #fffff4;
  background: #e67e22;
  border-color: #be5600;
  text-shadow: 1px 1px 1px #b44c00;
}
.button-pushbutton.button-color-red {
  color: #ffffeb;
  background: #e7563c;
  border-color: #c43319;
  text-shadow: 1px 1px 1px #c43319;
}
.button-pushbutton.button-color-pink {
  color: #fff1ff;
  background: #e96abb;
  border-color: #b23384;
  text-shadow: 1px 1px 1px #c64798;
}
.button-pushbutton.button-color-purple {
  color: #fff1ff;
  background: #b574d5;
  border-color: #7e3d9e;
  text-shadow: 1px 1px 1px #9251b2;
}
/* Simple Buttons */
.button-simple.button-color-default, .button-simple-rounded.button-color-default {
  color: #505050;
  background: #f0f0f0;
  text-shadow: 1px 1px 1px #ffffff;
}
.button-simple.button-color-default:hover, .button-simple-rounded.button-color-default:hover {
  color: #505050;
  background: #e6e6e6;
}
.button-simple.button-color-grey, .button-simple-rounded.button-color-grey {
  color: #ffffff;
  background: #9e9e9e;
  text-shadow: 1px 1px 1px #3a3a3a;
}
.button-simple.button-color-grey:hover, .button-simple-rounded.button-color-grey:hover {
  color: #ffffff;
  background: #949494;
}
.button-simple.button-color-black, .button-simple-rounded.button-color-black {
  color: #e7e7e7;
  background: #5b5b5b;
  text-shadow: 1px 1px 1px #000000;
}
.button-simple.button-color-black:hover, .button-simple-rounded.button-color-black:hover {
  color: #e7e7e7;
  background: #4c4c4c;
}
.button-simple.button-color-lightblue, .button-simple-rounded.button-color-lightblue {
  color: #00394d;
  background: #a8e3f7;
  text-shadow: 1px 1px 1px #d0ffff;
}
.button-simple.button-color-lightblue:hover, .button-simple-rounded.button-color-lightblue:hover {
  color: #00394d;
  background: #99d4e8;
}
.button-simple.button-color-blue, .button-simple-rounded.button-color-blue {
  color: #f2ffff;
  background: #3498db;
  text-shadow: 1px 1px 1px #00488b;
}
.button-simple.button-color-blue:hover, .button-simple-rounded.button-color-blue:hover {
  color: #f2ffff;
  background: #2589cc;
}
.button-simple.button-color-green, .button-simple-rounded.button-color-green {
  color: #ffffe0;
  background: #7dbe4a;
  text-shadow: 1px 1px 1px #2d6e00;
}
.button-simple.button-color-green:hover, .button-simple-rounded.button-color-green:hover {
  color: #ffffe0;
  background: #6eaf3b;
}
.button-simple.button-color-yellow, .button-simple-rounded.button-color-yellow {
  color: #471a00;
  background: #f1c40f;
  text-shadow: 1px 1px 1px #ffec37;
}
.button-simple.button-color-yellow:hover, .button-simple-rounded.button-color-yellow:hover {
  color: #471a00;
  background: #e7ba05;
}
.button-simple.button-color-orange, .button-simple-rounded.button-color-orange {
  color: #fffff4;
  background: #e67e22;
  text-shadow: 1px 1px 1px #821a00;
}
.button-simple.button-color-orange:hover, .button-simple-rounded.button-color-orange:hover {
  color: #fffff4;
  background: #dc7418;
}
.button-simple.button-color-red, .button-simple-rounded.button-color-red {
  color: #ffffeb;
  background: #e7563c;
  text-shadow: 1px 1px 1px #920100;
}
.button-simple.button-color-red:hover, .button-simple-rounded.button-color-red:hover {
  color: #ffffeb;
  background: #dd4c32;
}
.button-simple.button-color-pink, .button-simple-rounded.button-color-pink {
  color: #fff1ff;
  background: #e96abb;
  text-shadow: 1px 1px 1px #941566;
}
.button-simple.button-color-pink:hover, .button-simple-rounded.button-color-pink:hover {
  color: #fff1ff;
  background: #df60b1;
}
.button-simple.button-color-purple, .button-simple-rounded.button-color-purple {
  color: #fff1ff;
  background: #b574d5;
  text-shadow: 1px 1px 1px #601f80;
}
.button-simple.button-color-purple:hover, .button-simple-rounded.button-color-purple:hover {
  color: #fff1ff;
  background: #ab6acb;
}
/* Standard Gradient Buttons */
.button-default.button-color-default,
.button-large.button-color-default,
.button-large.button-color-default,
.button-mini.button-color-default,
.button-default-rounded.button-color-default,
.button-large-rounded.button-color-default,
.button-mini-rounded.button-color-default {
  background: #f0f0f0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f0f0f0 0%, #bebebe 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bebebe), color-stop(100%, #bebebe));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f0f0f0 0%, #bebebe 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f0f0f0 0%, #bebebe 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f0f0f0 0%, #bebebe 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f0f0f0 0%, #bebebe 100%);
  /* W3C */

  color: #505050;
  text-shadow: 1px 1px 1px #ffffff;
}
.button-default.button-color-default:hover,
.button-large.button-color-default:hover,
.button-large.button-color-default:hover,
.button-mini.button-color-default:hover,
.button-default-rounded.button-color-default:hover,
.button-large-rounded.button-color-default:hover,
.button-mini-rounded.button-color-default:hover {
  background: #e2e2e2;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e2e2e2 0%, #b0b0b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0b0b0), color-stop(100%, #b0b0b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e2e2e2 0%, #b0b0b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e2e2e2 0%, #b0b0b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e2e2e2 0%, #b0b0b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e2e2e2 0%, #b0b0b0 100%);
  /* W3C */

}
.button-default.button-color-grey,
.button-large.button-color-grey,
.button-large.button-color-grey,
.button-mini.button-color-grey,
.button-default-rounded.button-color-grey,
.button-large-rounded.button-color-grey,
.button-mini-rounded.button-color-grey {
  background: #9e9e9e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #9e9e9e 0%, #6c6c6c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c6c6c), color-stop(100%, #6c6c6c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #9e9e9e 0%, #6c6c6c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #9e9e9e 0%, #6c6c6c 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #9e9e9e 0%, #6c6c6c 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #9e9e9e 0%, #6c6c6c 100%);
  /* W3C */

  color: #ffffff;
  text-shadow: 1px 1px 1px #3a3a3a;
}
.button-default.button-color-grey:hover,
.button-large.button-color-grey:hover,
.button-large.button-color-grey:hover,
.button-mini.button-color-grey:hover,
.button-default-rounded.button-color-grey:hover,
.button-large-rounded.button-color-grey:hover,
.button-mini-rounded.button-color-grey:hover {
  background: #909090;
  /* Old browsers */

  background: -moz-linear-gradient(top, #909090 0%, #5e5e5e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #5e5e5e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #909090 0%, #5e5e5e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #909090 0%, #5e5e5e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #909090 0%, #5e5e5e 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #909090 0%, #5e5e5e 100%);
  /* W3C */

  color: #ffffff;
}
.button-default.button-color-black,
.button-large.button-color-black,
.button-large.button-color-black,
.button-mini.button-color-black,
.button-default-rounded.button-color-black,
.button-large-rounded.button-color-black,
.button-mini-rounded.button-color-black {
  background: #5b5b5b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5b5b5b 0%, #292929 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #292929));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5b5b5b 0%, #292929 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5b5b5b 0%, #292929 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5b5b5b 0%, #292929 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #5b5b5b 0%, #292929 100%);
  /* W3C */

  color: #e7e7e7;
  text-shadow: 1px 1px 1px #000000;
}
.button-default.button-color-black:hover,
.button-large.button-color-black:hover,
.button-large.button-color-black:hover,
.button-mini.button-color-black:hover,
.button-default-rounded.button-color-black:hover,
.button-large-rounded.button-color-black:hover,
.button-mini-rounded.button-color-black:hover {
  background: #494949;
  /* Old browsers */

  background: -moz-linear-gradient(top, #494949 0%, #171717 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #171717), color-stop(100%, #171717));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #494949 0%, #171717 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #494949 0%, #171717 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #494949 0%, #171717 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #494949 0%, #171717 100%);
  /* W3C */

  color: #e7e7e7;
}
.button-default.button-color-lightblue,
.button-large.button-color-lightblue,
.button-large.button-color-lightblue,
.button-mini.button-color-lightblue,
.button-default-rounded.button-color-lightblue,
.button-large-rounded.button-color-lightblue,
.button-mini-rounded.button-color-lightblue {
  background: #a8e3f7;
  /* Old browsers */

  background: -moz-linear-gradient(top, #a8e3f7 0%, #76b1c5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b1c5), color-stop(100%, #76b1c5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a8e3f7 0%, #76b1c5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a8e3f7 0%, #76b1c5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #a8e3f7 0%, #76b1c5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #a8e3f7 0%, #76b1c5 100%);
  /* W3C */

  color: #00394d;
  text-shadow: 1px 1px 1px #bcf7ff;
}
.button-default.button-color-lightblue:hover,
.button-large.button-color-lightblue:hover,
.button-large.button-color-lightblue:hover,
.button-mini.button-color-lightblue:hover,
.button-default-rounded.button-color-lightblue:hover,
.button-large-rounded.button-color-lightblue:hover,
.button-mini-rounded.button-color-lightblue:hover {
  background: #99d4e8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #99d4e8 0%, #67a2b6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67a2b6), color-stop(100%, #67a2b6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #99d4e8 0%, #67a2b6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #99d4e8 0%, #67a2b6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #99d4e8 0%, #67a2b6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #99d4e8 0%, #67a2b6 100%);
  /* W3C */

  color: #00394d;
}
.button-default.button-color-blue,
.button-large.button-color-blue,
.button-large.button-color-blue,
.button-mini.button-color-blue,
.button-default-rounded.button-color-blue,
.button-large-rounded.button-color-blue,
.button-mini-rounded.button-color-blue {
  background: #3498db;
  /* Old browsers */

  background: -moz-linear-gradient(top, #3498db 0%, #0266a9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0266a9), color-stop(100%, #0266a9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #3498db 0%, #0266a9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #3498db 0%, #0266a9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #3498db 0%, #0266a9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #3498db 0%, #0266a9 100%);
  /* W3C */

  color: #f2ffff;
  text-shadow: 1px 1px 1px #000c4f;
}
.button-default.button-color-blue:hover,
.button-large.button-color-blue:hover,
.button-large.button-color-blue:hover,
.button-mini.button-color-blue:hover,
.button-default-rounded.button-color-blue:hover,
.button-large-rounded.button-color-blue:hover,
.button-mini-rounded.button-color-blue:hover {
  background: #2589cc;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2589cc 0%, #00579a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00579a), color-stop(100%, #00579a));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2589cc 0%, #00579a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2589cc 0%, #00579a 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2589cc 0%, #00579a 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2589cc 0%, #00579a 100%);
  /* W3C */

  color: #f2ffff;
}
.button-default.button-color-green,
.button-large.button-color-green,
.button-large.button-color-green,
.button-mini.button-color-green,
.button-default-rounded.button-color-green,
.button-large-rounded.button-color-green,
.button-mini-rounded.button-color-green {
  background: #7dbe4a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7dbe4a 0%, #4b8c18 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b8c18), color-stop(100%, #4b8c18));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7dbe4a 0%, #4b8c18 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7dbe4a 0%, #4b8c18 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7dbe4a 0%, #4b8c18 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #7dbe4a 0%, #4b8c18 100%);
  /* W3C */

  color: #ffffe0;
  text-shadow: 1px 1px 1px #003c00;
}
.button-default.button-color-green:hover,
.button-large.button-color-green:hover,
.button-large.button-color-green:hover,
.button-mini.button-color-green:hover,
.button-default-rounded.button-color-green:hover,
.button-large-rounded.button-color-green:hover,
.button-mini-rounded.button-color-green:hover {
  background: #6eaf3b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6eaf3b 0%, #3c7d09 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c7d09), color-stop(100%, #3c7d09));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6eaf3b 0%, #3c7d09 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6eaf3b 0%, #3c7d09 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6eaf3b 0%, #3c7d09 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6eaf3b 0%, #3c7d09 100%);
  /* W3C */

  color: #ffffe0;
}
.button-default.button-color-yellow,
.button-large.button-color-yellow,
.button-large.button-color-yellow,
.button-mini.button-color-yellow,
.button-default-rounded.button-color-yellow,
.button-large-rounded.button-color-yellow,
.button-mini-rounded.button-color-yellow {
  background: #fbce19;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fbce19 0%, #d3a600 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3a600), color-stop(100%, #d3a600));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fbce19 0%, #d3a600 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fbce19 0%, #d3a600 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fbce19 0%, #d3a600 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fbce19 0%, #d3a600 100%);
  /* W3C */

  color: #471a00;
  text-shadow: 1px 1px 1px #ffd31e;
}
.button-default.button-color-yellow:hover,
.button-large.button-color-yellow:hover,
.button-large.button-color-yellow:hover,
.button-mini.button-color-yellow:hover,
.button-default-rounded.button-color-yellow:hover,
.button-large-rounded.button-color-yellow:hover,
.button-mini-rounded.button-color-yellow:hover {
  background: #ecbf0a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ecbf0a 0%, #cea100 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cea100), color-stop(100%, #cea100));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ecbf0a 0%, #cea100 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ecbf0a 0%, #cea100 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ecbf0a 0%, #cea100 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ecbf0a 0%, #cea100 100%);
  /* W3C */

  color: #471a00;
}
.button-default.button-color-orange,
.button-large.button-color-orange,
.button-large.button-color-orange,
.button-mini.button-color-orange,
.button-default-rounded.button-color-orange,
.button-large-rounded.button-color-orange,
.button-mini-rounded.button-color-orange {
  background: #eb8327;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eb8327 0%, #be5600 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #be5600), color-stop(100%, #be5600));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eb8327 0%, #be5600 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eb8327 0%, #be5600 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eb8327 0%, #be5600 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eb8327 0%, #be5600 100%);
  /* W3C */

  color: #fffff4;
  text-shadow: 1px 1px 1px #6e0600;
}
.button-default.button-color-orange:hover,
.button-large.button-color-orange:hover,
.button-large.button-color-orange:hover,
.button-mini.button-color-orange:hover,
.button-default-rounded.button-color-orange:hover,
.button-large-rounded.button-color-orange:hover,
.button-mini-rounded.button-color-orange:hover {
  background: #e67e22;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e67e22 0%, #b95100 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b95100), color-stop(100%, #b95100));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e67e22 0%, #b95100 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e67e22 0%, #b95100 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e67e22 0%, #b95100 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e67e22 0%, #b95100 100%);
  /* W3C */

  color: #fffff4;
}
.button-default.button-color-red,
.button-large.button-color-red,
.button-large.button-color-red,
.button-mini.button-color-red,
.button-default-rounded.button-color-red,
.button-large-rounded.button-color-red,
.button-mini-rounded.button-color-red {
  background: #f6654b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f6654b 0%, #c43319 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c43319), color-stop(100%, #c43319));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f6654b 0%, #c43319 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f6654b 0%, #c43319 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f6654b 0%, #c43319 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f6654b 0%, #c43319 100%);
  /* W3C */

  color: #ffffeb;
  text-shadow: 1px 1px 1px #6a0000;
}
.button-default.button-color-red:hover,
.button-large.button-color-red:hover,
.button-large.button-color-red:hover,
.button-mini.button-color-red:hover,
.button-default-rounded.button-color-red:hover,
.button-large-rounded.button-color-red:hover,
.button-mini-rounded.button-color-red:hover {
  background: #e7563c;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e7563c 0%, #b5240a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5240a), color-stop(100%, #b5240a));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e7563c 0%, #b5240a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e7563c 0%, #b5240a 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e7563c 0%, #b5240a 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e7563c 0%, #b5240a 100%);
  /* W3C */

  color: #ffffeb;
}
.button-default.button-color-pink,
.button-large.button-color-pink,
.button-large.button-color-pink,
.button-mini.button-color-pink,
.button-default-rounded.button-color-pink,
.button-large-rounded.button-color-pink,
.button-mini-rounded.button-color-pink {
  background: #f879ca;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f879ca 0%, #c64798 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c64798), color-stop(100%, #c64798));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f879ca 0%, #c64798 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f879ca 0%, #c64798 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f879ca 0%, #c64798 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f879ca 0%, #c64798 100%);
  /* W3C */

  color: #fff1ff;
  text-shadow: 1px 1px 1px #800152;
}
.button-default.button-color-pink:hover,
.button-large.button-color-pink:hover,
.button-large.button-color-pink:hover,
.button-mini.button-color-pink:hover,
.button-default-rounded.button-color-pink:hover,
.button-large-rounded.button-color-pink:hover,
.button-mini-rounded.button-color-pink:hover {
  background: #e96abb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e96abb 0%, #b73889 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b73889), color-stop(100%, #b73889));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e96abb 0%, #b73889 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e96abb 0%, #b73889 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e96abb 0%, #b73889 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #e96abb 0%, #b73889 100%);
  /* W3C */

  color: #fff1ff;
}
.button-default.button-color-purple,
.button-large.button-color-purple,
.button-large.button-color-purple,
.button-mini.button-color-purple,
.button-default-rounded.button-color-purple,
.button-large-rounded.button-color-purple,
.button-mini-rounded.button-color-purple {
  background: #c483e4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #c483e4 0%, #9251b2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9251b2), color-stop(100%, #9251b2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #c483e4 0%, #9251b2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #c483e4 0%, #9251b2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #c483e4 0%, #9251b2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #c483e4 0%, #9251b2 100%);
  /* W3C */

  color: #fff1ff;
  text-shadow: 1px 1px 1px #4c0b6c;
}
.button-default.button-color-purple:hover,
.button-large.button-color-purple:hover,
.button-large.button-color-purple:hover,
.button-mini.button-color-purple:hover,
.button-default-rounded.button-color-purple:hover,
.button-large-rounded.button-color-purple:hover,
.button-mini-rounded.button-color-purple:hover {
  background: #b574d5;
  /* Old browsers */

  background: -moz-linear-gradient(top, #b574d5 0%, #8342a3 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8342a3), color-stop(100%, #8342a3));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #b574d5 0%, #8342a3 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #b574d5 0%, #8342a3 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #b574d5 0%, #8342a3 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #b574d5 0%, #8342a3 100%);
  /* W3C */

  color: #fff1ff;
}
