# Netcup SMTP (Vercel Serverless Function)
SMTP_HOST=mxe989.netcup.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@kfz-lindner.de
SMTP_PASS=PLEASE_SET_REAL_PASSWORD

# Ziel-Adresse fuer Website-Formulare
MAIL_TO=info@kfz-lindner.de

# Absender, der im Mailheader gesetzt wird
MAIL_FROM=info@kfz-lindner.de
